@media (max-width: 767px) {
    .container {
        padding: 10px;
    }
    .footer-nav a {
        margin-bottom: 5px;
    }
    .p-4.border.rounded.bg-light.shadow {
        max-width: 75%; /* Giúp form không chiếm toàn bộ chiều ngang */
        padding: 20px;
    }
}
