@media (max-width: 750px) {
    form {
        padding: 20px !important;
        border-radius: 10px;
    }

    .form-label {
        font-size: 0.9rem;
    }

    input, select {
        font-size: 0.9rem;
        padding: 8px 12px;
    }

    .fa-user-plus {
        font-size: 24px;
    }

    .card h2 {
        font-size: 1.25rem;
    }

    .card {
        margin: 0 10px;
    }
}
