.background{
    background-color: #3D67BA;
}

.button{
    background-color: #3D67BA;
}

.button:hover{
    background-color: #2b4a8c;
}

.thread{
    color: #3D67BA !important;
}

.custom-row{
    box-shadow: 0 0 0 1px #dee2e6;
    background-color: #fff;
}

.text{
    color: #3D67BA;
}

table {
    border-spacing: 0 5px; /* tạo khoảng cách giữa các hàng (vertical spacing) */
    border-collapse: separate; /* bắt buộc để border-spacing có tác dụng */
}

.custom-select-width {
    min-width: 160px;
  }
  