

.avatar {
    transition: transform 0.3s ease-in-out;
}

.avatar:hover {
    transform: scale(1.1);
}
.container {
    padding: auto;
    margin: auto;
}

.font-lexend {
    font-family: 'Lexend', sans-serif;
}
.login-button {
    background-color: #3D67BA;
}

.container h2 {
    color: #3D67BA;
}

.login-button:hover {
    background-color: #003366;
}

.footer-nav {
    background-color: #3D67BA; /* Đổi màu nền */
    color: white; /* Màu chữ */
    padding: 10px 15px; /* Khoảng cách nội dung */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-nav a {
    color: white; /* Màu chữ của link */
    text-decoration: none; /* Bỏ gạch chân */
}

.footer-nav a:hover {
    text-decoration: underline; /* Hiệu ứng hover */
}

.mt-custom {
    margin-top: 30px; /* Hoặc bất kỳ số lẻ nào bạn muốn */
}
